-- Migration: Sincronizar avatar_url de conversas_contatos para clientes automaticamente

-- 1. Cria a funo que o trigger ir executar
CREATE OR REPLACE FUNCTION public.sync_conversas_avatar_to_clientes()
RETURNS trigger AS $$
BEGIN
  -- Se o avatar_url mudou ou foi recm-inserido e no  nulo/vazio
  IF (TG_OP = 'INSERT' OR NEW.avatar_url IS DISTINCT FROM OLD.avatar_url) AND NEW.avatar_url IS NOT NULL AND NEW.avatar_url != '' THEN
    -- Atualiza o cliente correspondente, caso exista e caso a URL esteja diferente
    UPDATE public.clientes
    SET avatar_url = NEW.avatar_url
    WHERE id = NEW.cliente_id 
      AND user_id = NEW.user_id
      AND (avatar_url IS DISTINCT FROM NEW.avatar_url);
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 2. Cria o trigger na tabela conversas_contatos
DROP TRIGGER IF EXISTS trg_sync_conversas_avatar ON public.conversas_contatos;

CREATE TRIGGER trg_sync_conversas_avatar
AFTER INSERT OR UPDATE OF avatar_url ON public.conversas_contatos
FOR EACH ROW
EXECUTE FUNCTION public.sync_conversas_avatar_to_clientes();

-- 3. Atualizar retroativamente os avatares j existentes (para clientes que j tinham foto em conversas_contatos)
UPDATE public.clientes c
SET avatar_url = cc.avatar_url
FROM (
  SELECT DISTINCT ON (cliente_id, user_id) 
    cliente_id, user_id, avatar_url
  FROM public.conversas_contatos
  WHERE avatar_url IS NOT NULL AND avatar_url != ''
  ORDER BY cliente_id, user_id, updated_at DESC
) cc
WHERE c.id = cc.cliente_id 
  AND c.user_id = cc.user_id
  AND (c.avatar_url IS NULL OR c.avatar_url = '');
